.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name,
.number {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #555;
}

.deleteBtn {
  border: 1px solid lightgray;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.deleteBtn:hover {
  background-color: #d32f2f;
}
